:root {
  --Mantis: #79b473;
  --cambridge-blue: #70a37f;
  --lapis-lazuli: #41658a;
  --daft-blue: #414073;
  --english-violet: #4c3957;

  font-family: "JetBrains Mono";
  line-height: 1.5;
  font-weight: 400;
  background-color: #023047;
  margin: 0;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

button:active,
button:focus {
  outline: 0 !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
}

.main-body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.navbar {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  flex-direction: row;
  background-color: #023047;
  box-shadow: 1px 1px 20px #023047;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar button {
  height: 5rem;
  font-size: 2em;
  font-weight: 500;
  color: white;
  background-color: #023047;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  padding: 0em 1em;
  outline-color: none;
}

.introduction {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: 0;
  background-color: #023047;
  color: white;
  min-height: 95vh;
  position: relative;
  box-shadow: 1px 3px 5px #023047;
  scroll-margin-top: 5rem;
}

.profile-image {
  border: 15px #219ebc;
  border-style: inset;
  border-radius: 5em;
}

.introduction .in-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 5em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.introduction .in-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.in-left-top {
  font-weight: 800;
  font-size: 3rem;
}

.in-left-middle > .iam {
  font-weight: 800;
  font-size: 3em;
}

.in-left-middle > .user-name {
  font-size: 4em;
  color: #219ebc;
  text-decoration: underline;
  font-weight: 800;
}

.user-name:hover {
  color: #8ecae6;
  transition: color 0.5s;
}

.in-left-bottom {
  font-size: 2rem;
}

.about-me {
  background-color: #023047;
  margin-bottom: 5px solid black;
  color: white;
  padding: 2em;
  min-height: 90vh;
  scroll-margin-top: 5rem;
}

.about-me-title {
  font-size: 4em;
  color: #219ebc;
  padding-left: 3rem;
  line-height: 1;
}

.about-me-desc {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 1.5em;
  border-top: 5px solid #219ebc;
  border-bottom: 5px solid #219ebc;
  border-radius: 2rem;
}

.about-me-desc-left {
  text-align: justify;
  padding: 3rem;
}

.about-me-desc-right {
  text-align: left;
  padding: 3rem;
}

.skills {
  background-color: #023047;
  padding-top: 2rem;
  min-height: 95vh;
  scroll-margin-top: 5rem;
}

.skill-title {
  font-size: 4em;
  color: #219ebc;
  padding-left: 3rem;
  line-height: 1;
}

.skills-list {
  margin-top: 5vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-items: center;
  border-top: 5px solid #219ebc;
  border-bottom: 5px solid #219ebc;
  border-radius: 2rem;
}

[class^="logo-"] {
  width: 80%;
  color: white;
  font-size: 1.3em;
  text-align: center;
  padding: 2rem;
  border: 4px solid #219ebc;
  border-radius: 2rem;
  margin: 10px;
}

.contact-me {
  background-color: #023047;
  color: white;
  padding-top: 2rem;
  min-height: 30vh;
  scroll-margin-top: 5rem;
}

.contact-me-title {
  font-size: 4em;
  color: #219ebc;
  padding-left: 3rem;
  line-height: 1;
}

.contact-info {
  margin-top: 5vh;
  font-size: 1.5em;
  padding: 3em;
  border-top: 5px solid #219ebc;
  border-bottom: 5px solid #219ebc;
  border-radius: 2rem;
}

button:hover {
  border-color: #1b202e;
  background-color: #141829;
  transition: background-color 0.5s, border-color 0.5s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
